//Colors
$black:#000000;
$white:#ffffff;
$blue: #0077B5;
$blue-light: #00A0DC;
$blue-dark: #0766be;
$hover: #004181;
$hover2:#f3f3f3;
$grey: rgb(163, 158, 158);
$blue: #0077B5;
$blue-light: #00A0DC;
$blue-dark: #0766be;
$beige: #f3f2ef;
$red: rgb(255, 0, 0);
$red-light: rgb(250, 100, 100);
$red-dark: rgb(150, 0, 0);
$linkedin-bg: #f3f2ee;
$grey-light: #ededed;
$grey-dark: rgb(120, 100, 100);
$border: #bdb2b1;
$light: #7b828c;

//text
.text-black{
    color: $black;
}

.text-white{
    color: $white;
}

.bold{
    font-weight: bold;
}

h2{
    font-size: 35px;
}

//BG
.blue-bg{
    background-color: $blue;
}

.linkedin-bg{
    background-color: $linkedin-bg;
}

.black-bg{
    background-color: $black;
}

.white-bg{
    background-color: $white;
}

//container
.center-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label-container{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.flex-row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // min-width: 600px;
    justify-content: stretch;
}

.flex-col{
    display: flex;
    flex-direction: column;
    // align-items: start;
}


.align-left{
    text-align: start;
}

//components
// .logo{
//     scale: 50%;
//     margin:10px;
//     padding: 0px;
// }
.logo-footer{
    scale: 50%;
}

.a{
    padding-left: 5px;
}

// .logo{
//     scale: 50%;
//     margin:10px;
//     padding: 0px;
// }

.navbar{
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal{
    top: 0;
    left: 0;
    z-index: 10;
    display:flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.form{
    overflow-y: auto;
    background-color: $white;
    margin-bottom:30px;
    height: 450px;
    min-width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .inputt{
        height: 20px;
        padding-right: 100px;
        // margin-left: 170px;
        width: 200px;
    }

    .cb{
        width: 20px;
        height: 20px;
        margin-top: 17px;
        margin-left: 170px;
    }
}

.text-input{
    color: black;
    font-size: 15px;
    width: 350px;
    height: 3px;
    border-radius: 5px;
    padding-left:10px;
    margin-bottom: 15px;
    border:1px solid rgba(0, 0, 0, 0.50);
}

//Size
.fullscreen{
    width: 100vw;
    min-height: 100vh;
}

//Width
.w-screen{
    min-width: 100vw;
}

.w-full{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-120{
    // justify-content: flex-start;
    width: 100%;
    height: 170px;
}
.profile{
    padding: 30px;
    // width: 50%;
    width: 750px;
    margin:20px;
    height: fit-content;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
}
.profile2{
    padding: 30px;
    // width: 50%;
    width: 750px;
    margin:20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    height: fit-content;
    border: $border solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
}

.w-fit{
    width: fit-content;
}

.w-80{
    width: 80px;
}

//Height
.h-screen{
    min-height: 100vh;
}

//Button
.blue-button{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 365px;
    height: 50px;
    border-radius: 35px;
    background-color: $blue;  
    border: #004181 1px solid;

    &:hover{
        cursor: pointer;
    }
}
.blue-button2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 255px;
    height: 35px;
    border-radius: 35px;
    background-color: $blue;  
    border: #004181 1px solid;

    &:hover{
        cursor: pointer;
    }
}

.blue-button-s{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: $blue;
    border: $blue 1px solid;

    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        cursor: pointer;
    }
    // here
    &:active{
        background-color: $blue-dark;
    }
}


.blue-button-reply{
    // margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 95px;
    height: 25px;
    border-radius: 5px;
    background-color: $blue;
    border: $blue 1px solid;
    color: white;

    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        color: white;
        cursor: pointer;
    }
    &:active{
        background-color: $blue-dark;
        color: white;
    }
}
.blue-button-xs{
    // margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 85px;
    height: 30px;
    border-radius: 12px;
    background-color: $blue;
    border: $blue 1px solid;
    color: white;

    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        color: white;
        cursor: pointer;
    }
    &:active{
        background-color: $blue-dark;
        color: white;
    }
}

.blue-button-filter{
    // margin-top: 20px;
    // display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 85px;
    height: 30px;
    border-radius: 12px;
    background-color: $blue;
    border: $blue 1px solid;
    color: white;

    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        color: white;
        cursor: pointer;
    }
    &:active{
        background-color: $blue-dark;
        color: white;

    }
}

.grey-button-filter{
    // margin-top: 20px;
    // display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 85px;
    height: 30px;
    border-radius: 12px;
    background-color: $grey-light;
    border: $grey-light 1px solid;
    // color: white;
    

    &:hover{
        background-color: $light;
        transition:  0.5s ease-in-out;
        color: white;
        cursor: pointer;
    }
    &:active{
        background-color: $light;
    }
}

.red-button-s{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-radius: 35px;
    background-color: $red;
    border: $red 1px solid;

    &:hover{
        background-color: $red-light;
        transition:  0.5s ease-in-out;
        cursor: pointer;
    }
    &:active{
        background-color: $red-dark;
    }
}

.all-center{
    // justify-content: center;
    align-items: center;
}

.box{
    padding: 30px;
    width: 50%;
    width: 750px;
    margin:20px;
    height: fit-content;
    border: $border solid 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.box2{
    // padding: 30px;
    // padding-top: 30px;
    padding-bottom: 30px;
    // width: 50%;
    width: 800px;
    margin:20px;
    height: fit-content;
    border: $border solid 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.add-button2{
    display: flex;
    // padding: 30px;
    // justify-content: center;
    align-items: flex-start;
    width: 810px;
    height:35px;
    padding: 10px;
    margin-top: 10px;
    background-color: $white;
    border-radius: 13px;
    border: $border 1px solid;
    justify-self: center;
    align-self: center;
    // justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-items: flex-start;
    .plus-logo2{
        fill: black;
        scale: 120%;
    }
    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $grey-light;
    }
    &:active{
        background-color: $grey-dark;
        .plus-logo2{
            fill: wheat;
            scale: 150%;
        }
    }
}

.red-button-xs{
    // margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 90px;
    height: 30px;
    border-radius: 12px;
    background-color: $red;
    border: $red 1px solid;
    color: white;

    &:hover{
        background-color: $red-light;
        transition:  0.5s ease-in-out;
        cursor: pointer;
    }
    &:active{
        background-color: $red-dark;
    }
}

.grey-button-xs{
    // margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    width: 90px;
    height: 30px;
    border-radius: 12px;
    background-color: $grey;
    border: $grey 1px solid;
    color: white;

    &:hover{
        background-color: $border;
        transition:  0.5s ease-in-out;
        cursor: pointer;
    }
    &:active{
        background-color: $border;
    }
}

.white-button{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 365px;
    height: 50px;
    border-radius: 35px;
    background-color: $white;

    &:hover{
        cursor: pointer;
    }
}

.white-button-s{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    background-color: $linkedin-bg;
    border: 1px $linkedin-bg solid;

    &:hover{
        cursor: pointer;
        transition:  0.5s ease-in-out;
        background-color: $border;
    }
}

.picture-btn{
    // display: flex;
    position: absolute;
    // top: 0;
    right: 0;
    // left: 0;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin: 12px;
    // width: 15px;
    // height: 15px;
    // padding: 10px;
    // background-color: white;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 25px;
    height:25px;
    padding: 10px;
    background-color: $white;
    border-radius: 100%;
    justify-content: flex-end;
    
    .logo{
        fill: $black;
        scale: 900%;
    }
    &:hover{
        background-color: $beige;
        // sini
    }
    &:active{
        background-color: $grey;
        
    }
}

.grey-button-s{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    background-color: $grey;
    border: 1px $linkedin-bg solid;

    &:hover{
        cursor: pointer;
    }
}

.cover {
    object-fit: cover;
}

.relative {
    position: relative;
}
  

.max-w-fit {
    max-width: fit-content;
}

.navbar-logo{
    scale: 250%;
    fill: $blue;
    margin: 30px
}

.logo{
    scale: 100%;
    margin:10px;
    padding: 0px;
}

.logolink{
    scale: 10%;
    margin:10px;
    padding: 0px;
}

.navbar-items{
    width: 15%;
    height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 25px;
    .navbar-icon{
        // width:25px;
        // height: 25px;
        scale: 170%;
        fill: $grey;
    }
    .navbar-picture{
        padding-top: -1px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        // border :black solid 100px;
    }
    .item-label{
        // width: 100px;
        padding-top: -10px;
        // margin-top: -100px;
        color: $grey;
        font-size: 12px;
        margin: 8px;
    }
    .item-label2{
        // width: 100px;
        padding-top: -10px;
        // margin-top: -100px;
        color: $grey;
        font-size: 12px;
        margin: 3px;
    }
    
    &:hover{
        .navbar-icon{
            fill: $black;
        }
        .item-label{
            color: $black;
        }
    }
}

.navbar-picture{
    padding-top: -75px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border :black solid 1px;
}

.navbar-items-active{
    width: 15%;
    height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 25px;
    .navbar-icon{
        scale: 170%;
        fill: $black;
    }
    .item-label{
        padding-top: -10px;
        // width: 100%;
        color: $black;
        font-size: 12px;
        margin: 8px;
        // border-bottom: 4px solid $black;
    }
    .item-label2{
        // width: 100px;
        padding-top: -10px;
        // margin-top: -100px;
        color: $grey;
        font-size: 12px;
        margin: 3px;
    }
}

.navbar-menu-container{
    height: 65px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    padding: 30px;
    width: 40%;
    margin:20px;
    height: fit-content;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
}

.text-input{
    color: $black;
    font-size: 15px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    padding-left:10px;
    margin-bottom: 20px;
    border:1px solid rgba(0, 0, 0, 0.50);
}

//components
.searchbar{
    color: $black;
    font-size: 15px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left:10px;
    margin-right: 200px;
    border:1px solid rgba(0, 0, 0, 0.50);
}

.dropdown{
    width: 150px;
    height:150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    // justify-content: center;
    align-items: center;
    top: 80px;
    background-color: $white;
    border:1px solid rgba(0, 0, 0, 0.50);
    border-radius: 5%;
}

.form-forget{
    margin-bottom:30px;
    height: 300px;
    width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .login{
        margin-left: -264px;
        margin-bottom: 0px;
    }
}

.profile{
    padding: 30px;
    // width: 50%;
    width: 750px;
    margin:20px;
    height: fit-content;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}


.main-profile{
    // width: 50%;
    width: 810px;
    margin:20px;
    height: fit-content;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

//text
.text-xl{
    font-size: 35px;
}

.text-l{
    font-size: 25px;
}

.text-m{
    font-size: 20px;
}

.text-s{
    font-size:15px
}

.text-black{
    color: $black;
}
.text-blue{
    color: $blue;
}

//margins
.mt-min10{
    margin-bottom: -10px;
}

.mt-60{
    margin-top: 60px;
}

.mr-20{
    margin-right: 40px;
}

.mb-min10{
    margin-bottom: -10px;
}

.mb-2{
    margin-bottom: 2px;
}
.mb-5{
    margin-bottom: 8px;
}
.mr-2 {
    margin-right: 0.5rem;
}

.mh-20{
    margin-left: 20px;
    margin-right: 20px;
}
.mh-15{
    margin-left: 15px;
    margin-right: 15px;
}

.mh-30{
    margin-left: 30px;
    margin-right: 30px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5{
    margin-left: 5px;
}
.ml-20{
    margin-left: 20px;
}
.ml-40{
    margin-left: 40px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-40{
    margin-left: 40px;
}

.mb-15{
    margin-bottom: 15px;
}

.mv-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-30{
    margin-top: 40px;
    margin-bottom: 20px;
}

.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-50{
    margin-right: 50px;
}
.mr-10{
    margin-right: 10px;
}
.mt-10{
    padding-top: 10px;
}
.mt-12{
    padding-top: 12px;
}
.mt-14{
    padding-top: 14px;
}

.mt-5{
    padding-top: 5px;
}
.mt-10{
    padding-top: 10px;
}
.mt-20{
    padding-top: 20px;
}

.mh-10{
    margin-left: 10px;
    margin-right: 10px;
}

//padding
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}

.pv-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pr-20{
    padding-right: 20px;
}
.pl-5{
    padding-left: 5px;
}

.pv-20{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-10{
    padding-top: 10px;
}
.pb-min10{
    padding-bottom: -10px;
}

.pt-min10{
    padding-top: -30px;
}

//float

.float-r{
    float: right;
}


//spacing
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.eduOrExp{
    width: 100%;
    // padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 5px;
    // background-color: $linkedin-bg;
    border: 1px solid $border;
}

.icon{
    scale: 135%;
    fill: $grey;
    &:hover{
        fill: $black;
        cursor: pointer;
    }
}

.icon-sug{
    padding-top: 1px;
    scale: 190%;
    fill: $grey;
    &:hover{
        fill: $black;
        cursor: pointer;
    }
}

//border
.border-1-{
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 5px;
}
.border-border{
    border: 1px solid $border;
}
.border-black{
    border: 1px solid $black;
}

.border-com{
    border: 1px solid $border;
    border-radius: 10px;
}

//padding
.pr-20{
    padding-right: 20px;
}


.profile-pic-connect{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: white 1px solid
}

.profile-picture{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: $white 5px solid
}

.display-none{
    display: none;
}

.YMK-img {
    width: 60px;
    border-radius: 50%;
    border: 1.5px solid $black;
}

.YMK2-img {
    width: 50px;
    border-radius: 50%;
    border: 1.5px solid $black;
}

.notif-img {
    width: 72px;
    border-radius: 50%;
    border: 1.5px solid $border
}

.YMK-card{
    width: 750px;
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.card-suggest {
    display: flex;
    align-items: center;
    // padding: 50px;
    padding-left: 10px;
    border-radius: 7px;
    width: 100%;
    border: 10px;
    position: relative;
    border: $border 1px solid;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
}

.info {
    margin-left: 30px;
    color: #555;
    font-weight: 500;
}

.transparent-btn{
    background-color: transparent;
    border: none;
    &:hover{
        cursor: pointer;
    }
}

.flex{
    display: flex;
}

.post{
    // width: 100%;
    margin-bottom: 15px;
    // padding: 15px;
    // margin: 10px;
}

.pointer{
    &:hover{
        cursor: pointer;
    }
}

.small-form{
    overflow-y: auto;
    background-color: $white;
    margin-bottom:30px;
    min-height: 250px;
    min-width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-picture{
    width: 300px;
    margin-bottom: 20px;
    // border: solid 1px black
}
.post-picture2{
    width: 800px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 40px;
    // border: solid 1px black
}

.homepage-picture{
    width:50px;
    height: 50px;
    border-radius: 100%;
}

.homepage-picture2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.borderB{
    border-bottom: black 1px solid;
    // margin-bottom: 10px;
}

.borderT{
    border-top: black 1px solid;
    // margin-top: 10px;
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-input{
    color: $black;
    font-size: 15px;
    width: inherit;
    height: 25px;
    border-radius: 5px;
    padding-left:10px;
    border:1px solid rgba(0, 0, 0, 0.50);
    // border-bottom-right-radius: 0%;
    // border-top-right-radius: 0%;
}

.send-button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:29px;
    width:70px;
    border-radius: 5px;
    border: $blue 1px solid;
    margin-left: 5px;
    background-color: $blue;
    color: $white;
    // border-bottom-left-radius: 0%;
    // border-top-left-radius: 0%;
    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        cursor: pointer;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.send-button2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:29px;
    width:150px;
    border-radius: 5px;
    border: $blue 1px solid;
    margin-left: 5px;
    background-color: $blue;
    color: $white;
    // border-bottom-left-radius: 0%;
    // border-top-left-radius: 0%;
    &:hover{
        transition:  0.5s ease-in-out;
        background-color: $blue-light;
        cursor: pointer;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.cancel-button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:29px;
    width:70px;
    border-radius: 5px;
    background-color: $red;
    color: $white;
    border: $red 1px solid;
    margin-left: 5px;

    // border-bottom-left-radius: 0%;
    // border-top-left-radius: 0%;

    &:hover{
        background-color: $red-light;
        transition:  0.5s ease-in-out;
        cursor: pointer;
    }
    &:active{
        background-color: $red-dark;
    }
}

.card-suggest {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.items-center {
    align-items: center;
}

.cursor-pointer{
    &:hover{
        cursor: pointer;
    }
}

.justify-start{
    justify-content: flex-start;
}

.mw-100{
    min-width: 780px;
}

.footer {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.footer-column {
    padding: 0px 15px;
}

.link {
    cursor: pointer;
    color: #8fb7de;
    font-size: 15px;
}

.pos-relative{
    position: relative;
}

body {
    padding: 0;
    margin: 0;
    // font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 80px;
    min-height: 100vh;
}

.button-margin {
    margin: 10px;
}

.filter-container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: fit-content;
    height: 100px;
}

.post-search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.message-container {
    width: 70%;
    margin: 20px auto;
}

.message-main {
    width: 100%;
    display: flex;
}

.col-user {
    width: 40%;
    height: 600px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.col-chat {
    width: 60%;
    height: 600px;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.head-user {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.head-chat {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.button-new-message {
    float: right;
    margin-right: 10px; 
}

.content-user {
    padding-left: 20px;
    padding-top: 10px;
}

.border-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 100%;
}

.message-profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.message-image {
    width: 150px;
    height: 100px;
    object-fit: fill;
}

.message-bottom-content {
    bottom: 0;
}

.text-preview {
    font-size: 10px;
    color: lightblue;
    cursor: pointer;
}

.user-profile-message {
    height: fit-content;
}

.message-mid-content {
    overflow: auto;
}

.image-preview {
    width: 80px;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: hidden;
    z-index: 10;
}

.modal {
    top: 0;
    left: 0;
    z-index: 10;
    background-color: 00FFFFFF;
}

// Position
.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.input-type {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video-post {
    width: 100%;
    margin-left: -8px;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.h-full {
    height: 100%;
}

.cover {
    
    width: inherit;
    size: cover;
    object-fit: cover;
}

.richText-a{
    text-decoration: none;
    color: #0084ff;

    &:hover{
        font-weight: 500;
        cursor: pointer;
    }

    &:visited{
        color: #0084ff;
        cursor: pointer;
    }
}

.chat-box{
    height: 500px;
    overflow-y: scroll;
}