$primary: #f3f2ee;
$secondary: #0b65c5;
$tertiary: #0b65c3;
$black: #000000;
$white: #FFFFFF;
$hover: #004181;
$hover2:#f3f3f3;
$btnNinputW: 20%;
$btnNinputH: 40px;
$btnNinputP: 15px;
$forgetMB: 3px;
$btnNinputF: 16px;
$h1Size: 35px;
$marginLeft: -250px;
$inputPaddingL: 3px;

*{
    // background-color: $white
    // left: 50%;
}

.container{
    // width: 100%;
    // height: 100%;
    // background-color: #0b65c3;
}

.App{
    position: relative;
    // top: 50%;
    // transform: translate(5%);
    // transform: translateY(20%);
    display: flex;
    flex-direction: column;
    // border-style: solid;
    // border-width: 2px;
    // padding-left: 30px;
    // padding-right: 30px;
    // width: 600px;
    // left: 50%;
    // justify-content: center;
    // align-content: center;
    // align-self: center;
    align-items: center;
    // justify-items: center;
    // justify-self: center;
    // margin: auto;
    // float: right;
    // background-color: $black;


}

.container{
    position: absolute;
    // top: 0; right: 0; bottom: 0; left: 0;
    // border-style: solid;
    // border-width: 2px;
    // background-color: green;
    // justify-content: center;
    // align-content: center;
    // align-self: center;
    // align-items: center;
    // justify-items: center;
    // justify-self: center;
    // margin: auto;
}

.login{
    color: $black;
    font-size: $h1Size;
    margin-left: $marginLeft;
}

.text{
    margin-top: -20px;
    margin-bottom: 3px;
    margin-left: -60px;
}

.logo{
    width:7%;
    margin-left: 10px;
    margin-top: -5px;
}

.btn{
    width: $btnNinputW;
    height: $btnNinputH;
    margin-top: $btnNinputP;
    font-size: $btnNinputF;
    border-radius: 16px;
    border-width: thin;
    background-color: $white;
}

.btnBlue:hover{
    transition:  0.5s ease-in-out;
    background-color: $hover;
    // transition: 05 ease-in-out;
    // transition: 0.8s ease-in-out;
}

.btnWhite:hover{
    // transition: 0.8s ease-in-out;                                                                    s;
    transition:  0.5s ease-in-out;
    background-color: $hover2;
}

.inp{
    width: $btnNinputW;
    height: $btnNinputH;
    margin-top: $btnNinputP;
    font-size: $btnNinputF;
    border-width: thin;
    padding-left: $inputPaddingL;
}

.forget{
    margin-top: $btnNinputP;
    margin-bottom: $forgetMB;
    color: $tertiary;
    margin-left: -234px;
}

.forget:hover{
    cursor: pointer;
}

p{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.regis{
    display: flex;
}
.txt{
    margin-left: 5px;
    text-decoration: none;
}

.si{
    background-color: $tertiary;
    border-color: $tertiary;
    color: $white;
}

.footer{
    position: absolute;
    bottom: 0;
}

.register{
    margin-bottom: -2px;
    margin-left: -188px;
}



